table {
    margin-left:auto; 
    margin-right:auto;
    border-collapse: separate;
}

td {
    height: 50px;
    width: 50px;
    font-size: 24px;
    border: solid 2px;
    text-align: center;
}

td:hover {
    background-color: deepskyblue;
    color: whitesmoke;
}

/* Will mark winning sequence with green */
.wincell {
    background-color: deepskyblue;
    color: whitesmoke;
}

button{
    background-color:hotpink;
    border: none;
    color: whitesmoke;
    font-size: 25px;
}
button:hover{
    background-color: deeppink;
    
}